/* Import font from Google fonts*/
@import url('https://fonts.google.com/specimen/Plus+Jakarta+Sans');

/* General Styles */
body{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    background-color: #ffe5ec;
    color: #283044;
}

div p{
    text-align: justify;
    text-justify: inter-word;
}

h1{
    text-align: center;
}

/* Navigation Bar */

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

#name{
    margin-left: 10px;
    color: #283044;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item{
    display: inline;
    float: left;
}

.nav-item a{
    display: block;
    color: #283044;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover{
    background-color: #283044;
    color: #EBF5EE;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

/* Featured Photo and Introduction */
.featured{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: auto;
}

.intro-text{
    align-items: center;
    margin: 0;
    width: 60%;
    text-align: center;
    color: #283044;
}

.featured-photo img{
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

/* Previous Projects*/
.projects{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 0;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 1%;
}

.proj-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    color: #EBF5EE;
}

.proj-item:nth-child(1){
    background-color: #231942;
}

.proj-item:nth-child(2){
    background-color: #da627d;
}

.proj-item:nth-child(3){
    background-color: #5e548e;
}

.proj-item:nth-child(4){
    background-color:  #450920;
}

.proj-item:hover{
    background-color: #EBF5EE;
    color: #283044;
    box-shadow: 0 8px 12px 0 #283044;
}

/* Skills and Autobiography */

.skillbio{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    padding: 10px;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 1%;
}

.skillbio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color:  #8B786D;
    border-radius: 20px;
    color: #283044;
}

/* Footer */

.footer{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    width: auto;
    color: #EBF5EE;
    background-color: #fb6f92;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer ul li{
    display: block;
}

.footer ul li a{
    color: #EBF5EE;
}

.contact-list{
    align-items: center;
}

.footer-logo {
    margin-right: 50px;
}

.footer-logo img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}


.proj {
    width: 500px; /* Adjust width as needed */
    height: 250px; /* Keeps aspect ratio */
}

